<div class="footer" id="contact" data-aos="fade-up">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>CONTÁCTAME</h2>
                <h3>Buenos Aires, Argentina</h3>
                <div class="footer-menu">
                    <p>contact@marquezjacqueline.com.ar</p>
                </div>
                <div class="footer-social">
                    <a href="https://github.com/jackyrapino" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/jacqueline-marquez-655ab3186" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">marquezjacqueline</a>, Todos los derechos reservados | Diseñado por P&P</p>
        </div>
    </div>
</div>