<div class="about wow" data-aos="fade-up" id="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="../../../assets/img/aboutmj.jpg" alt="Image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header text-left">
                        <p>Sobre mi</p>
                        <h2>Algo de mi historia</h2>
                    </div>
                    <div class="about-text">
                        <p [innerHTML]="texto"> </p>
                        <a pageScroll href="#contact">
                            <h4 class="resaltar">¿Me Acompañas?</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>