<!-- Experience Start -->
<div class="experience" id="experience">
    <div class="container">
        <header class="section-header text-center wow zoomIn">
            <p>Mi Resumen</p>
            <h2>Experiencia Laboral</h2>
        </header>
        <div class="timeline">
            <div *ngFor="let job of jobs">
                <article [class]="job.class" class="timeline-item" [id]="job.class + job.id">
                    <div class="timeline-text">
                        <div class="timeline-date">{{ job.dates }}</div>
                        <h2>{{ job.title }}</h2>
                        <h4>{{ job.location }}</h4>
                        <p>
                            {{ job.description }}
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>