<div class="hero" id="home">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="hero-content">
                    <div class="hero-text" data-aos="zoom-in-right">
                        <p>Soy</p>
                        <h1>Jacqueline Marquez</h1>
                        <h2></h2>
                    </div>
                    <div class="hero-btn">
                        <a class="btn" download href="../../../assets/JACQUELINEMARQUEZCV-02.pdf">Descargar CV</a>
                        <a class="btn" href="mailto:algo@a.com">Contactame</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image" data-aos="fade-up">
                    <img src="../../../assets/img/jackyv2.png" alt="Hero Image" />
                </div>
            </div>
        </div>
    </div>
</div>