<div class="hero" id="home">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="hero-content">
                    <div class="hero-text" data-aos="zoom-in-right">
                        <p>Soy</p>
                        <h1>Jacqueline Marquez</h1>

                        <!-- <div class="typed-out">
                            <h2>Desarrolladora</h2>
                        </div> -->

                    </div>
                    <div class="hero-btn">
                        <a class="btn" download href="../../../assets/CVJACQUELINEMARQUEZ.pdf">Descargar CV</a>
                        <a class="btn" href="mailto:contact@marquezjacqueline.com.ar">Contactame</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image" data-aos="fade-up">
                    <img src="../../../assets/img/jackyv2.webp" alt="Jacqueline Marquez Rapino" />
                </div>
            </div>
        </div>
    </div>
</div>